<!DOCTYPE html>

<html>
<head>
    <title>Template:Webpage Name</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="pageHeader" class="navbar-default">
        <div class="burgerIconWrapper">
            <button class="burgerIcon"></button>
        </div>
        <div>
            <h1>Templatelogo</h1>
            <nav class="navMain">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div style="height: 2000px;"></div>


<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
